@use "../../helpers/functions.scss" as *;
@use "../variables.scss";

.main {
    display: flex;
    max-height: rem(1000);
    
    &__right {
        position: static;
        margin-top: -32px;
        margin-left: auto;

        & :first-child {
            width: rem(602);
            height: rem(1003);
        }
        
        & img:last-child {
            position: relative;
            top: -900px;
            right: rem(150);
            background: none;
            width: rem(356);
            height: rem(710);
        }
    } 
    
    &__left {
        display: flex;
        flex-direction: column;
        margin: rem(109) rem(163);
        max-height: rem(800);

        & a {
            text-decoration: none;
        }

        &__subtitle {
            color: var(--accent-color);
            width: rem(257);
            height: rem(20);
            font-weight: 400;
            font-size: rem(18);

        }

        &__title {
            color: var(--font-color);
            font-weight: 700;
            font-size: rem(62);
            width: rem(515);
            margin-top: rem(47);
        }

        &__text {
            font-size: rem(14);
            font-weight: 400;
            width: rem(574);
            height: rem(61);
            margin-top: rem(16);

        }

        &__group {
            display: flex;
            gap: rem(27);
            align-items: baseline;
            
        }

        &__break {
            margin: rem(60) 0px;
            max-width: rem(500);
        }

        &__button {
            color: var(--font-color);
            font-weight: 400;
            font-size: rem(18);
            height: rem(73);
            width: rem(205);
            border: 1px solid #EDEDED;
            border-radius: rem(16);
            background-color: #FFFFFF;
            align-items: center;
            justify-content: center;

            &--active {
                color: #FFFFFF;
                height: rem(73);
                width: rem(247);
                border: 1px solid var(--accent-color);
                border-radius: rem(16);
                background-color: var(--accent-color);
                align-items: center;
                justify-content: center;
            }
        }

        &__advantages {
            display: flex;
            flex-direction: row;
            gap: rem(35);


            & p:first-child {
                font-size: rem(50);
                font-weight: 700;

                &::after {
                    content: "+";
                    color: var(--accent-color);
                }
            }

            & p:last-child {
                color: #656565;
                font-size: rem(18);
                font-weight: 400;
            }

        }
    }
}

