@use "../../helpers/functions.scss" as *;
@use "../variables.scss";


.management {
    display: flex;
    flex-direction: row;
    margin-left: rem(110);
    margin-right: rem(110);
    margin-bottom: rem(400);
    gap: rem(54);
    max-height: rem(482);
    justify-content: space-between;
    
        &__left {

            & img:first-of-type {
                position: relative;
                max-width: rem(349);
                max-height: rem(704);
                top: -600px;
                left: rem(60);
                border-radius: rem(57);
                object-fit: contain;

            }

            & img:last-of-type {
                position: relative;
                max-width: rem(341);
                max-height: rem(341);
                border-radius: rem(61);
                top: -1150px;
                left: rem(180);
                object-fit: contain;

            }
            
            & div:first-child {
                width: rem(600);
                height: rem(690);
                top: 0.17px;
                border-radius: 32px;
                background-color: var(--accent-color);

            }
    }


    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        gap: rem(30);
        margin-top: auto;

        &__container {
            display: flex;
            flex-direction: column;
            gap: rem(60);
           
        }

        
        &__card {
            display: flex;
            flex-direction: row;
            max-width: rem(470);
            max-height: rem(100);
            gap: rem(25);
            align-items: center;  

        }

            &__text {
                & p:first-child {
                    font-weight: 400;
                    font-size: rem(24);
                    line-height: rem(34);
                    letter-spacing: 0%;
                    color: var(--font-color);
                    margin-bottom: rem(14);

                }
    
                & p:last-child {
                    font-weight: 400;
                    font-size: rem(14);
                    line-height: rem(30);
                    letter-spacing: 0%;
                    color: var(--grey-font-color);
                    margin-bottom: rem(6);
                }
            }
            
            &__title {

                & h3 {
                    font-weight: 700;
                    font-size: rem(44);
                    line-height: rem(54);
                    letter-spacing: 0%;
                    color: var(--font-color);
                    margin-bottom: rem(10);
                }

                & p {
                    font-weight: 400;
                    font-size: rem(18);
                    line-height: rem(30);
                    letter-spacing: 0%;
                    color: var(--grey-font-color);
                }
            }
        
    }
}