:root {
    --background-color: #FFFFFF;
    --accent-background: #121212;
    --accent-color: #FF5634;
    --transition-duration: 0.2s;
    --font-color: #121212;
    --accent-font-color: #FFFFFF;
    --color-accent: #FF5634;
    --border-color: #EDEDED;
    --border: 1px solid #CACACA;
    --grey-font-color: #656565;
    --clients-background-color: #FAFAFA;
}