:root {
    --background-color: #FFFFFF;
    --accent-background: #121212;
    --accent-color: #FF5634;
    --transition-duration: 0.2s;
    --font-color: #121212;
    --color-accent: #FF5634;
    --border-color: #EDEDED;
}